.picture {
  width: 1240px;
  height: 415px;
  object-fit: cover;
  border-radius: 25px;
}

.bloc-carousel {
  width: 100%;
}

.carousel {
  overflow: hidden;
  position: relative;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  height: 415px;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.indicatorsNull {
  display: none;
}

.indicators > button {
  border: none;
  background: transparent;
}

.indicators > button img {
  width: 96px;
  /* background: green; */
}

.button-left, .button-right {
  margin: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button-left {
  left: 95px;
}

.button-right {
  right: 95px;
}

.num {
  position: absolute;
  /* background: blue; */
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
}

.numNull {
  display: none;
}

/* ----------------------------- medias queries ----------------------------- */

@media screen and (max-width: 1025px) {
  .indicators > button img {
    width: 80px;
  }
  .button-left {
    left: 0px;
  }
  
  .button-right {
    right: 0px;
  }
  .picture {
    max-width: 1024px;
  }

  .picture {
    width: 100%;
  }
}

@media screen and (max-width: 769px){
  .indicators > button img {
    width: 50px;
  }

  .picture {
    max-width: 768px;
  }
}

@media screen and (max-width: 426px){
  .indicators > button img {
    width: 24px;
  }

  .inner {
    height: 255px;
  }

  .picture {
    max-width: 425px;
    height: 255px;
  }
}


