.container {
	margin: 148px auto 40px;
	width: 100%;
}

.bandeau {
	width: 100%;
	max-width: 1240px;
	height: 223px;
	border-radius: 20px;
	margin: 0 auto 40px;
	position: relative;
}

.imageBandeau {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
	filter: brightness(70%);
}

.bandeau-txt {
	font-size: 48px;
	color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.cards {
	width: 100%;
	max-width: 1240px;
	height: auto;
	border-radius: 20px;
	background: #f6f6f6;
	display: grid;
	grid-template-columns: repeat(auto-fill, 340px);
	/* flex-wrap: wrap; */
	justify-content: center;
	grid-gap: 50px;
	margin: 0 auto;
	padding: 50px 0;
}

.card {
	position: relative;
	aspect-ratio: 1 / 1;
	border-radius: 10px;
	/* margin: 40px auto; */
	cursor: pointer;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.card-text {
	position: absolute;
	bottom: 15px;
	left: 15px;
	width: 300px;
	height: 52px;
	text-align: left;
	color: #ffffff;
}

.gradient {
	aspect-ratio: 1 / 1;
	border-radius: 10px;
	background: linear-gradient(transparent, #000000 250%);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* ------------------------------ media queries ----------------------------- */

@media screen and (max-width: 1025px) {
	.container {
    padding: 0 20px;
  }
	.bandeau {
		max-width: 994px;
		border-radius: 10px;
		margin: 0 auto 20px;
	}

	.imageBandeau {
		border-radius: 10px;
	}

	.cards {
		max-width: 994px;
	}
}

@media screen and (max-width: 769px) {
	.bandeau {
		max-width: 729px;
		margin: 0 auto 0px;
	}

	.cards {
		max-width: 729px;
		grid-gap: 15px;
		padding: 20px 0;
		margin-top: 20px;
	}
}

@media screen and (max-width: 426px) {
	.container {
		margin: 100px auto 0;
	}

	.bandeau {
		width: 100%;
		max-width: 335px;
		height: 111px;
		border-radius: 10px;
		margin: 0 auto 0;
	}

	.imageBandeau {
		border-radius: 10px;
	}

	.bandeau-txt {
		font-size: 24px;
		width: 217px;
		text-align: left;
		left: 38%;
	}

	.cards {
		border-radius: 10px;
		background: #ffffff;
		margin-top: 0;
	}

	.card {
		width: 335px;
		height: 255px;
		margin: 5px auto;
	}

	.image {
		width: 335px;
		height: 255px;
	}

	.gradient {
		width: 335px;
		height: 255px;
	}
}
