nav {
  position: fixed;
  overflow: hidden;
  top: 0px;
  width: 100%;
  max-width: 1440px;
  z-index: 9999;
  background: #ffffff;
}

.nav-container {
  width: 100%;
  max-width: 1240px;
  margin: 40px auto;
  height: 68px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
}

img {
  width: 210px;
  height: auto;
}

.liste-nav {
  list-style-type: none;
  background: #ffffff;
  width: 309px;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.items {
  color: #ff6060;
  cursor: pointer;
  font-size: 24px;
  padding: 0 0 0 20px;
  width: 136px;
}
